.movie-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.movie-cards > div {
  margin-right: 12px;
}

@media only screen and (max-width: 768px) {
  .movie-cards {
    flex-direction: column;
  }

  .movie-cards > div {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
