.navbar-container {
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-container > h1 {
  flex-shrink: 0;
}

.input-container {
  margin-left: 20px;
  flex-grow: 100;
  border: solid 1px #c4cdd5;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.search-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-input > input {
  margin-left: 4px;
  font-family: "Poppins";
  border: none;
}

.search-input > input:focus {
  border: 1px solid #5c6ac4;
}

.search-result {
  background: #ffffff;
  padding: 5px 0px;
  position: absolute;
  top: 32px;
  width: inherit;
  border: solid 1px #c4cdd5;
  z-index: 3;
}

.search-result > p {
  padding-left: 10px;
}

.icon-input {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  align-items: center;
}

.search-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.search-item-title {
  margin-right: 4px;
}

.search-item-year {
  margin-right: 4px;
}

@media only screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .input-container {
    margin-left: 0;
  }
}
